/* reset css */
@import url("./resetcss\ copy.css");

/* font css */
  @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#wrap {
/* box-shadow: 0px 5px 8px 0.1px #e2e2e2; */
}
/* header */

#main_header {
  width: 100%;
  height: 120px;
  background: #2CC1BD;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0px 5px 8px 0.1px #e2e2e2;
  /* border: 1px solid red; */
}
#my_adress > select {
  width: 90px;
  height: 30px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  background: #2CC1BD;
  border: none;
  font-family: 'Jua', sans-serif;
  letter-spacing: 3px;
}
#my_adress > select > option {
  background: #fff;
  color: #000;
  font-size: 15px;
  padding: 5px;
  display: block;
  letter-spacing: 5px;
}
#search_bar {
  background: #fff;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  margin: 010px auto ;
  position: relative;
  
}
#search_bar a {
  margin-top: 5px;
  margin-left: 12px;
  font-size: 24px;
  color: #2CC1BD;
  position: absolute;
}
#search_bar > input {
  width: 310px;
  height: 45px;
  margin: 0 auto;
  padding: 4px 2px 2px 6px;
  background: none;
  border: none;
  font-size: 15px;
  position: absolute;
  left: 40px;
  user-select: none;
}

#buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  
}
#buttons a {
  font-size: 25px;
  margin: 3px 12px 50px 12px;
  color: #fff;
}


/* section */
#middle {
  width: 100%;
  padding: 0 20px;
  position: relative;
  
}
#tag {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  /* border: 1px solid red; */
}
.tag_content {
  display: flex;
  padding: 10px 10px 7px;
  border: 2px solid #2CC1BD;
  border-radius: 30px;
  font-size: 13px;
  box-shadow: 0px 5px 8px 0.1px #e2e2e2;
}
.tag_content > #tagging {
  font-weight: bold;
  color: #2CC1BD;
  font-size: 15px;
  margin-right: 5px;
}

#imgscr {
  overflow: hidden;
  padding: 10px 0;
  /* border: 1px solid red; */
}
#imgscr img {
  box-shadow: 0px 0px 10px 0.1px #cecece;
}
#top {
  overflow: hidden;
  display: flex;
  justify-content: space-between
}
#top img {
  width: 180px;
  border-radius: 15px;
}

.togo > img {
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
}
.store > img {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

/* footer */
#footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  float: flex;
  position: relative;
  padding: 0 20px;
  /* border: 1px solid red; */
}
#footer > a {

  justify-content: space-between;
}
#footer > a > img {
  width: 98%;
  box-shadow: 0 0 10px 0 #e2e2e2;
  border-radius: 15px;
}