@import "./common.scss";


.wrap {
  width: 100%;
  height: 100%;
  background: $background;
}

.header {
  width: 100%;
  background: $background;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-blend-mode: multiply;
  z-index: 1;
  #header {
    width: 80%;
    height: 75px;

    .header_ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font: 300 25px/1 "roslindale";
      letter-spacing: 2px;
      color: $primary;
      .header_gnb {
        a {
          margin-left: 20px;
        }
      }
      .header_toggle {
        display: none;
      }
      .header_gnb_mo {
        display: none;
      }
    }
  }
}

.main {
  width: 100%;
  height: 75vh;
  background: $background;
  position: relative;
  overflow: hidden;
  #main_img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      opacity: 0.7;
    }
  }
  #main_text {
    position: absolute;
    width: 1280px;
    margin: 0 auto;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 40%);
    h1 {
      text-align: center;
      color: $accent;
      font: 200 10em/1 "roslindale";
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  width: 60%;
  display: grid;
  grid-template-columns: 17% 1fr 17%;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas: "number center toggle" "number center toggle" "preview preview preview";
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  gap: 2%;
  border-top: 1px solid $primary;
  .number {
    min-width: 125px;
    // border: 1px solid red;
    display: flex;
    align-items: baseline;
    grid-area: number;
    margin-right: 20px;

    div {
      width: 30px;
      height: 2px;
      background: $primary;
      padding-left: 5px;
    }
  }
  .center {
    grid-area: center;
    text-align: right;
    margin-right: 20px;
    h2,
    h5 {
      // border: 1px solid red;
    }
  }
  .toggle {
    grid-area: toggle;
    width: 70px;
    height: 70px;
    background: transparent;
    // border: 1px solid red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    div {
      position: absolute;
      width: 50px;
      height: 1px;
      background: $primary;
    }
    div:first-child {
      transform: rotate(90deg);
    }
  }
  .preview {
    width: 100%;
    height: 100%;
    grid-area: preview;
    border: 1px solid red;
  }
}


// tablet
@media screen and (max-width:1200px ) {
  .main_text {
    width: 780px;
  }
  .section {
    .content_left {
      min-width: 130px
    }
    .content-center {
      min-width: 400px;
    }
  }
}


// moblie
@media screen and (min-width: 390px) and (max-width: 768px) {
  .header {
    #header{
      width: 85%;
    }
    .header_gnb {
      display: none;
    }
    .header_toggle {
      display: flex;
      flex-direction: column;
      background: transparent;
      border: none;
      justify-content: space-between;
      z-index: 99;
      span {
        display: block;
        width: 25px;
        height: 2px;
        background: $primary;
      }
      span:nth-child(2) {
        margin: 8px 0;
      }
    }
    .header_gnb_mo {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      flex-direction: column;
      width: 40%;
      background: #ededed;
      padding: 70px 0 600px;
      a{
        color: #242424;
        padding: 20px;
        display: block;
        font-weight: bold;
      }
    }
  }

  .main {
    .main_text {
      padding: 20px;
      width: 350px;
      h1 {
        font-size: 9em;
        white-space: wrap;
        text-align: center;
      }
    }
  } 

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    #content {
      width: 100%;
      max-width: 780px;
      position: relative;
    }
  }
}
.section {
  width: 100%;
  .content- {
    left {
      min-width: 110px;
      h1 {
        font-size: 4rem;
      }
    }
    center {
      min-width: 275px;
      margin: auto 10px;
      h1 {
        line-height: 0.8;
        margin-bottom: 5px;
        font-size: 4em;
      }
    }
    right {
      min-width: 70px;
    }
  }
}