/*=== var ===*/
/*=== reset ===*/
@import url("https://fonts.cdnfonts.com/css/roslindale?styles=147507,147527,147520,147523,147502,147510,147536,147549");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=== font ===*/
/* SUIT */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* h1 {
  font: normal 5rem/1 "Roslindale";
  letter-spacing: 2px;
  color: #ededed;
}
* h2 {
  font: normal 4rem/1 "Roslindale";
  letter-spacing: 2px;
  color: #ededed;
}
* h3 {
  font: normal 3rem/1 "Roslindale";
  letter-spacing: 2px;
  color: #ededed;
}
* h4 {
  font: normal 2rem/1 "Roslindale";
  letter-spacing: 2px;
  color: #ededed;
}
* h5 {
  font-family: "SUIT-Regular";
  color: #ededed;
}

body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #070b16;
}

.header {
  width: 100%;
  background: #070b16;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-blend-mode: multiply;
  z-index: 1;
}
.header #header {
  width: 80%;
  height: 75px;
}
.header #header .header_ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 300 25px/1 "roslindale";
  letter-spacing: 2px;
  color: #ededed;
}
.header #header .header_ul .header_gnb a {
  margin-left: 20px;
}
.header #header .header_ul .header_toggle {
  display: none;
}
.header #header .header_ul .header_gnb_mo {
  display: none;
}

.main {
  width: 100%;
  height: 75vh;
  background: #070b16;
  position: relative;
  overflow: hidden;
}
.main #main_img {
  width: 100%;
  height: 100%;
}
.main #main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  opacity: 0.7;
}
.main #main_text {
  position: absolute;
  width: 1280px;
  margin: 0 auto;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 40%);
}
.main #main_text h1 {
  text-align: center;
  color: #ff4d00;
  font: 200 10em/1 "roslindale";
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 60%;
  display: grid;
  grid-template-columns: 17% 1fr 17%;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas: "number center toggle" "number center toggle" "preview preview preview";
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  gap: 2%;
  border-top: 1px solid #ededed;
}
.section .number {
  min-width: 125px;
  display: flex;
  align-items: baseline;
  grid-area: number;
  margin-right: 20px;
}
.section .number div {
  width: 30px;
  height: 2px;
  background: #ededed;
  padding-left: 5px;
}
.section .center {
  grid-area: center;
  text-align: right;
  margin-right: 20px;
}
.section .toggle {
  grid-area: toggle;
  width: 70px;
  height: 70px;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section .toggle div {
  position: absolute;
  width: 50px;
  height: 1px;
  background: #ededed;
}
.section .toggle div:first-child {
  transform: rotate(90deg);
}
.section .preview {
  width: 100%;
  height: 100%;
  grid-area: preview;
  border: 1px solid red;
}

@media screen and (max-width: 1200px) {
  .main_text {
    width: 780px;
  }
  .section .content_left {
    min-width: 130px;
  }
  .section .content-center {
    min-width: 400px;
  }
}
@media screen and (min-width: 390px) and (max-width: 768px) {
  .header #header {
    width: 85%;
  }
  .header .header_gnb {
    display: none;
  }
  .header .header_toggle {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    justify-content: space-between;
    z-index: 99;
  }
  .header .header_toggle span {
    display: block;
    width: 25px;
    height: 2px;
    background: #ededed;
  }
  .header .header_toggle span:nth-child(2) {
    margin: 8px 0;
  }
  .header .header_gnb_mo {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    width: 40%;
    background: #ededed;
    padding: 70px 0 600px;
  }
  .header .header_gnb_mo a {
    color: #242424;
    padding: 20px;
    display: block;
    font-weight: bold;
  }
  .main .main_text {
    padding: 20px;
    width: 350px;
  }
  .main .main_text h1 {
    font-size: 9em;
    white-space: wrap;
    text-align: center;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  .content #content {
    width: 100%;
    max-width: 780px;
    position: relative;
  }
}
.section {
  width: 100%;
}
.section .content- left {
  min-width: 110px;
}
.section .content- left h1 {
  font-size: 4rem;
}
.section .content- center {
  min-width: 275px;
  margin: auto 10px;
}
.section .content- center h1 {
  line-height: 0.8;
  margin-bottom: 5px;
  font-size: 4em;
}
.section .content- right {
  min-width: 70px;
}/*# sourceMappingURL=i_desktop.css.map */