@import url("./resetcss.css");
@import url("./font.css");

/* common */
#wrap {
  width: 100%;
}

/*header*/
#header {
  height: 76px;
  margin: 0 auto;
  background: #ffffff;
  z-index: 1;
}
#header-main {
  max-width: 1280px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
#header img {
  width: 105px;
  display: block;
}
#right-gnb {
  display: flex;
  font-family: Travel;
  gap: 16px;
}
#right-gnb span {
  padding: 8px
}
#menu-my {
  display: flex;
  align-items: center;
  border: 1px solid #9f9f9f;
  border-radius: 30px;
  padding: 0 10px;
}
#menu-my span {
  font-size: 18px;
}
#menu-my span:first-child {
  margin-right: -8px;
}
#menu-my span:last-child {
  font-size: 20px;
  color: #9f9f9f;
}

/* figure */
figure {
  width: 100%;
  height: 528px;
  background: url("./img/1.main/main_04.jpg") center/cover no-repeat;
  position: relative;
}
#main_figure {
  padding: 0px 40px 64px 40px;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
#main_figure h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 32px;
}
#main_figure-content {
  background: #fff;
  width: 100%;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
}
#main-select {
  display: flex;
  gap: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
#main-select span:first-child {
  color: #1f44b2;
}
#main-select span:first-child::after {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: #1f44b2;
  width: 15px;
  height: 4px;
  padding: 10px;
}
#main-select span:last-child {
  color: #9f9f9f;
}
#option form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}
#dosearch {
  min-width: 51%;
  height: 48px;
  background: #efefef;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
#dosearch i {
  color: #9f9f9f;
  font-size: 18px;
  padding-left: 20px;
}
#dosearch input {
  border: none;
  width: 100%;
  background: transparent;
  padding-left: 10px;
  font-size: 14px;
  font-weight: lighter;
}
#date {
  min-width: 20%;
  border: none;
  border-radius: 5px;
  background: #efefef;
  padding: 0 10px;
}
#date input[type="date"] {
  margin: 0 10px;
  width: 24%;
  position: relative;
}
#date input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
  padding-left: -1.2%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#date input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -50px ;
  width: 100%;
  height: 100%;
  size: 0.5;
}
#people {
  min-width: 15%;
  border: none;
  border-radius: 5px;
  background: #efefef;
  padding: 0 10px;
}
#option button {
  min-width: 10%;
  border: none;
  background: #3c6dff;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

/* section */
section {
  width: 100%;
  height: 100%;
  position: relative;
}
#main-section {
  max-width: 1280px;
  display: block;
  margin: 50px auto 0;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
}
#main-section > div {
  padding-bottom: 50px;
}

.inner-content-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 15px;
}
.inner-content-title h5 {
  color: #3c6dff;
}

.accd-img {
  width: 100%;
}
.accd-img img {
  height: 55%;
  max-height: 180px;
  min-width: 150px;
  object-fit: cover;
}

.inner-content-slide {
  display: flex;
  overflow: hidden;
  gap: 1.5%;
  position: relative;
}
.inner-content-slide > div > img {
  display: flex;
  width: 100%;
  border-radius: 12px;
  margin: 0 auto;
  overflow: hidden;
}
.slide-title {
  padding-top: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #272727;
}

/*slide-content-info*/
.slide-content-info {
  margin: 10px 5px;
}
.slide-content-info-top div {
  padding: 2px 0;
}
.slide-content-info-top div:nth-child(1) {
  font-size: 11px;
}
.slide-content-info-top div:nth-child(2) {
  font-weight: 600;
  color: #1f1f1f;
}
.slide-content-info-top div:nth-child(3) {
  font-size: 12px;
}
.slide-content-info-top > div > span > i {
  background: #ffdd00;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}
.slide-content-info-top > div:last-child > span:last-child {
  font-size: 12px;
}
.slide-content-info-bottom {
  padding: 10px 0;
}

.slide-content-info-bottom div:nth-child(1) {
  font-size: 12px;
}
.slide-content-info-bottom > div:last-child > span:first-child {
  font-size: 18px;
  font-weight: 600;
}
.slide-content-info-bottom > div:last-child > span:last-child {
  font-size: 13px;
  text-decoration-line: line-through;
  color: #9f9f9f;
}

/* event */
#event {
  display: block;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
#event-img {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
#event-img img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}
#event-page {
  text-align: center;
  margin: 8px;
}
#event-page span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: #9f9f9f;
}
#event-page span:first-child {
  background: #3c6dff;
}

/* korea */
#korea {
  display: block;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

/* travel */
#travel {
  display: flex;
  flex-direction: column;
}

/* popular */
#popular > article h5 {
  display: none;
}
#badge span {
  margin: 15px 5px 0 0;
  padding: 6px 15px;
  border: 1px solid #c5c5c5;
  border-radius: 20px 20px ;
  display: inline-block;
  font-size: 14px;
}
#badge span:first-child {
  background: #3c6dff;
  color: #fff;
}


/* today */
#today .slide-content-info-bottom > div:nth-child(2) > span:last-child {
  font-size: 10px;
}

/* hot */


/* pick */


/* bottom */

