@import url("./reset.css");

button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: #639;
  color: #fff;
  padding: 15px;
  display: block;
  transition: all 0.3s;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  background: #639;
  height: 100vh;
  padding: 2em;
  display: none;
  transition: all 0.3s;
}
nav li {
  padding: 1rem 0;
}
nav li a {
  color: #fff;
}

.active {
  display: block;
}