//==========reset==========//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
//==========var==========//
$Textcolor-black: #1e1e1e;
$Textcolor-gray: #a0a0a0;
$Textcolor-white: #fffefa;
$backgroundcolor-blue: #83a2c1;
$backgroundcolor-lightgreen: #f7f7ef;
$backgroundcolor-light: #fafaf6;
$Color-stroke: #e0ded9;
$Color-lightgray: #f6f6f6;
$Color-orange: #fc6408;

//==========mixin==========//

@mixin header {
  width: 100%;
}

@mixin gnb {
  width: 100%;
}

@mixin menu {
  width: 100%;
}

@mixin asdie {
  width: 100%;
}

@mixin footer {
  width: 100%;
}
