//==========reset==========//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
//==========var==========//


//==========mixin==========//

@mixin header {
  width: 100%;
}

@mixin gnb {
  width: 100%;
}

@mixin menu {
  width: 100%;
}

@mixin asdie {
  width: 100%;
}

@mixin footer {
  width: 100%;
}
