* {
  margin: 0;
  padding: 0;
}
#wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header {
  background: yellowgreen;
  color: #fff;
  height: 150px;
}
div {
  display: flex;
}
article,
aside,
nav {
  height: calc(100vh - 300px);
}
article {
  flex: 3;
  background: #ccc;
}
aside {
  flex-grow: 1;
  background: #bbb;
}
nav {
  flex: 1;
  background: #aaa;
}
footer {
  background: crimson;
  height: 150px;
  color: #fff;
}
