@import url("./resetcss.css");
@import url("./font.css");

/* common */
body {
  font-family: 'Montserrat', sans-serif;
}
input, textarea, button {
  font-family: 'Montserrat', sans-serif;
}
input, textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b4b4b4;
  color: #3f51b5;
  font-size: 12px;
}
input:focus, textarea:focus {
  border-bottom: 1px solid #303f9f;
}
hr {
  height: 2;
}
.container {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
}
.cfixed::after, .container::after {
  content: "";
  display: block;
  overflow: hidden;
}
.blind {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -999px;
  overflow: hidden;
}
.section-title {
  font-size: 42px;
  color: #4f51b5;
  font-weight: normal;
}
.divider {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
  margin-top: 77px;
  background: #eee;
}
.m-divider {
  width: 20px;
  margin: 77px auto 0;
  background: #3f51d5;
}

/* === mobile === */

/* header */
.header {
  position: relative;
  padding: 18px 5%;
}
.header .logo {
  float: left;
  margin-bottom: 8px;
}
.header .logo a {
  font-size: 26px;
  font-weight: normal;
  color: #3f51d5;
}
.header .gnb {
  display: none;
  position: absolute;
  top: 155%;
  left: 0;
  width: 100%;
  background: #3f51d5;
}
.header .gnb.active {
  display: block;
}
.header .gnb li {
  border-bottom: 1px solid #303f9f;
}
.header .gnb li a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 14px 0 14px 5% ;
}
.header .menu-toggle-btn {
  float: right;
  width: 20px;
  margin-top: 10px ;
  cursor: pointer;
}
.header .menu-toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #3f51d5;
}
.header .menu-toggle-btn span:nth-child(2) {
  margin: 5px 0;
}

/* slider */
.slider img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* display */
.display-section {
  margin-top: 59px;
  text-align: center;
}
.display-section .section-title {
  margin-bottom: 30px;
}
.display-section .description {
  color: #616161;
  line-height: 1.5;
}

/* promotion */
.promotion-section {
  margin-top: 68px;
}
.promotion-section .promo-list li {
  margin-top: 52px;
  text-align: center;

}
.promotion-section .promo-list li:first-child {
  margin-top: 0;
}
.promotion-section .promo-list li img {
  height: 52px;
}
.promotion-section .promo-list li h3 {
  margin: 29px 0 20px;
  color: #3f51d5;
  font-weight: normal;
}
.promotion-section .promo-list li p {
  color: #616161;
  font-size: 14px;
}

/* work */
.work-section {
  margin-top: 73px;
}
.work-section .section-title {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
  margin-bottom: 47px;
  text-align: center;
}
.work-section .work-list li {
  width: 100%;
}
.work-section .work-list a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.work-section .work-list a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #3f51b5;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.3s ;
}
.work-section .work-list a:hover::before {
  opacity: 0.8;
}
.work-section .work-list li .info {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 23px;
  opacity: 0;
  transition: all 0.3s;
}
.work-section .work-list li a:hover .info {
  opacity: 1;
  transform: translateY(23px);
}
.work-section .work-list li .info h3 {
  font-size: 23px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 8px;
}
.work-section .work-list li .info span {
  color: #fff;
  font-size: 11px;
}
.work-section .work-list li img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* blog */
.blog-section {
  margin-top: 77px;
}
.blog-section .section-title {
  text-align: center;
  margin-bottom: 47px;
}
.blog-section .blog-list li {
  width: 100%;
  margin-top: 45px;
}
.blog-section .blog-list li:first-child {
  margin-top: 0;
}
.blog-section .blog-list li img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.blog-section .blog-list li time {
  display: block;
  margin: 11px 0;
  font-size: 14px;
  color: #9e9e9e;
  text-align: right;
}
.blog-section .blog-list li h3 {
  text-align: center;
  color: 424242;
  font-weight: normal;
}

/* contact */
.contact-section {
  overflow: hidden;
  margin-top: 109px;
}
.contact-section .section-title {
  margin-bottom: 47px;
  text-align: center;
}
.contact-section .form-box .form input {
  margin-bottom: 38px;
  padding-bottom: 13px;
}
.contact-section .form-box .form input:focus {
  outline: none;
}
.contact-section .form-box fieldset {
  padding: 20px;
}
.contact-section .form-box .textarea textarea {
  height: 165px;
}
.contact-section .form-box .textarea textarea:focus {
  outline: none;
}
.contact-section .form-box .send-btn {
  text-align: right;
  margin-top: 36px;
}
.contact-section .form-box .send-btn button {
  padding: 15px;
  border: 0;
  background: #3f51b5;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.contact-section .form-box .send-btn button:hover {
  background: #fff;
  border: 1px solid #3f51b5;
  color: #3f51b5;
}

/* footer */
.footer {
  margin-top: 68px;
  padding: 2%;
}
.footer iframe {
  width: 100%;
  height: 320px;
}
.footer p {
  margin: 20px 0;
  text-align: center;
  color: #3f51b5;
}
