/* reset css */
@import url("./resetcss.css");

/* font css*/
@font-face {
  font-family: "BM";
  src: url("./otf/BMDOHYEON_otf.otf");
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: BM;
}

#wrap {
  width: 100%;
  height: 100vh; /*100%*/
  background: #f5f5f5;
}

/* header */
header {
  width: inherit;
  height: 110px;
  background: #2ac1bc;
  border-radius: 0 0 8px 8px;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px;
}
nav .nav_left select {
  font-family: BM;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #fff;
}
nav select option {
  color: #2ac1bc;
}
nav .nav_right {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #fff;
  margin-top: 4px;
}


#all_menu img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 110px;
}

#search {
  padding: 0 16px 16px;
  position: relative;
}
#search span {
  position: absolute;
  float: left;
  left: 28px;
  top: 50%;
  transform: translateY(-84%);
  color: #2ac1bc;
}
#search input {
  width: 100%;
  height: 36px;
  padding: 2px 0 0 35px ;
  border: none;
  border-radius: 5px;
}

/* popup */
#popup {
  width: 100%;
  height: 330px;
  background: url("./img/b_8.jpg") center/cover no-repeat;
  display: none;
}
#menusearch:checked + #wrap > #popup {
  display: block;
}


/* section */
section #badges {
  display: flex;
  padding: 16px;
  gap: 10px;
  justify-content: space-between;
  margin: 0 10px;
}
section .badge {
  border: 2px solid #2ac1bc;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 50px;
  background: #fff;
}
section .badge span {
  font-size: 16px;
  color: #2ac1bc;
  margin-right: 5px;
}

#contents {
  padding: 0 16px;
  box-shadow: 0 0 5px 0 #;
}
section img {
  box-shadow: 0 0 15px 0px #f1f1f1;
}
#contents .inner_content img {
  border-radius: 16px;
}
#contents .top {
  display: flex;
  justify-content: space-between;
}
#contents .top img{
  width: 48%;
}
#contents .middle img {
  width: 100%;
  margin: 10px 0;
}
#contents .middlebottom img {
  width: 100%;
  margin: 0 0 10px;
}
#contents .bottom img {
  width: 48%;
}
#contents .bottom {
  display: flex;
  justify-content: space-between;
}
#banner {
  padding: 16px;
}
#banner img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}