@import url(./resetcss.css);
@import url(./font.css);


@media screen and (max-width: 390px) {
  
  /* common */
  #wrap {
    width: 100%;
    height: 100%;
    background: #242424;
  }
  
  /* header */
  .header {
    position: fixed;
    width: 100%;
    background: #ededed;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    order: 1;
  }
  #header {
    width: 80vw ;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: rgb(54, 54, 54);
    font-family: "butler", sans-serif;
    font-weight: 600;
  }

  .header_gnb > a {
    margin-left: 20px;
    display: none;
  }
  .header.active {
    background: #2b2b2b;
  }
  .header.active #header {
    color: #ededed;
  }

  /* figure */
  figure {
    order: 2;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-img {
    position: relative;
  }
  #home-img img {
    width: 600px;
    opacity: 0.5;
  }
  #home-img span {
    position: absolute;
    left: 55%;
    top: 65%;
    color: #ededed;
    font-size: 1.5rem;
    font-family: butler;
    letter-spacing: 1px;
    padding: 10px;
    opacity: 0.5;
  }
}