@import url(./resetcss.css);
@import url(./font.css);

/* common */
#wrap {
  width: 100%;
  height: 100%;
  background: #242424;
}

/* header */
header {
  width: 100%;
  background: #EDEDED;
}
#header {
  background: #EDEDED;
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  color: rgb(54, 54, 54);
  font-family: 'butler', sans-serif;
  font-weight: 600;
  box-shadow: 0, 5px, 15px, 0.3,rgb(86, 86, 86)D;
}
#header a {
  margin-left: 30px;
  }

/* figure */
figure {
  width: 100%;
  height: 700px;
}
#home-img {
  position: relative;
  display: flex;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
#home-img img {
  position: absolute;
  /* border: 1px solid red; */
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 70px;
  opacity: 0.5;
}
#home-img span {
  position: absolute;
  left: 50%;
  top: 60%;
  float: unset;
  color: #EDEDED;
  font-size: 1.5rem;
  font-family: butler;
  letter-spacing: 1px;
  padding: 10px;
  opacity: 0.5;
  /* border: 1px solid red; */
}

/* content */
content {
  width: 100%;
  height: 100%;
}
#content {
  width: 1280px;
  height: 100%;
  position: relative;
  color: #EDEDED;
  margin: 0 auto;
}

#content h1 {
  font-family: butler;
  font-weight: 600;
  font-size: 5rem;
}
#content h5 {
  font-family: suit;
}
.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.content_left {
  display: flex;
}
.content_left h1 {
  padding: 5px;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.content-right {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.content-right div {
  width: 40px;
  height: 2px;
  background: #EDEDED;
}
.content-right div > div {
  transform: rotate(90deg);
}


/* about */

.about {
  border: 1px solid red;
}


/* footer */
footer {
  width: 100%;
  height: 70px;
  background: #EDEDED;
  position: fixed;
  bottom: 0;
}
#footer {
  width: 1280px;
  height: 70px ;
  text-align: center;
  margin: auto ;
}
#footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: butler ;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 23px;
}