@media screen and (min-width: 781px) and (max-width: 1199px) {
  /* header */

  /* figure */

  /* content */

  #content {
    /* border: 1px solid red; */
    width: 80%;
    margin-bottom: 250px;
  }

  .section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    border-top: 1px solid #ededed;
  }

  .content_left {
    display: flex;
    align-items: baseline;
    /* border: 1px solid red; */
  }
  .content_left h1 {
    font-size: 4em;
    padding: 5px;
  }
  .content_left div {
    width: 30px;
    height: 2px;
    background: #ededed;
    margin-left: 4px;
  }

  .content-center {
    width: 350px;
    text-align: right;
    margin: auto 20px;
  }
  .content-center h1 {
    font-size: 4em;
  }
  .content-center h5 {
    font-weight: 100;
    padding-right: 5px;
    margin-top: -5px;
  }

  .content-right {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
  }
  .content-right button:hover {
    cursor: pointer;
  }

  /* about */
  #preview_btn_01 {
    padding: 30px 10px;
    background: transparent;
    border: none;
  }
  #preview_btn_01 div {
    width: 40px;
    height: 1px;
    background: #ededed;
  }
  #preview_btn_01 div:last-child {
    transform: rotate(90deg);
  }
  .preview_01 {
    position: absolute;
    width: 80%;
    transform: translate(0, 100%);
    background: #242424;
    margin: 0 20px;
  }
  .preview_01 h2 {
    font-size: 2.5rem;
  }

  /* work */
  .work {
    position: relative;
  }
  .preview_02 {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    background: #242424;
  }

  /* contact */
  .preview_03 {
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(20%, 180%);
    background: #242424;
    text-align: center;
    }
}
