@media screen and (min-width: 781px) and (max-width: 1199px) {
  /* header */

  /* figure */
  #title_text {
    width: 780px;
  }
  #title_text > h1 {
    font: 200 10em/1 "Roslindale";
  }
  /* content */
  .content-center h1 {
    font-size: 4em;
  }

  /* about */
  #preview_btn_01 div {
    width: 40px;
  }
  .preview_01 {
    width: 80%;
    transform: translate(0, 100%);
    margin: 0 20px;
  }
  .preview_01 h2 {
    font-size: 2.5rem;
  }

  /* work */
  .preview_02 {
    width: 90%;
    transform: translate(-50%, 15%);
  }

  /* contact */

}
