/* reset css */
@import url("./resetcss.css");

/* font css */
@font-face {
  font-family: naver_gothic;
  src: url("./font/나눔바른고딕/NanumBarunGothic.otf");
}
@font-face {
  font-family: naver_square;
  src: url("./font/나눔스퀘어/NanumSquareR.otf");
}
@font-face {
  font-family: naver_bold;
  src: url("./font/나눔스퀘어/NanumSquareEB.otf");
}
#wrap {
  min-width: 1280px;
}
/* header */
header {
  width: 1280px;
  display: block;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  font-family: naver_gothic;
}
.blind {
  font-size: 0;
}
#header_gnb {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
#header_gnb button {
  margin: 20px 10px;
}
#topasidebton_left {
  display: flex;
  align-items: center;
  float: left;
  gap: 20px;
  background: none;
  border: none;
  /* border: 1px solid red; */
}
#all_menu::after {
  content: "";
  display: block;
  background-image: url(./sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: 0px -333px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#naver_pay::after {
  content: "";
  display: block;
  background-image: url(./sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: -295px -177px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

#topasidebton_right {
  display: flex;
  align-items: center;
  float: right;
  gap: 20px;
  background: none;
  border: none;
}
#naver_talk::after {
  content: "";
  display: block;
  background-image: url(./sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: -108px -333px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#naver_notify::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: -54px -333px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#search_bar {
  border-radius: 33px;
  position: absolute;
  top: 70px;
  left: 50%;
  width: 708px;
  height: 58px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #03C75A;
  transform: translateX(-50%);
}
#naver_logo {
  position: relative;
  display: block;
  margin: 9px 15px;
}
#naver_logo::after {
  content: "";
  display: block;
  margin: 6px 8px 6px 8px;
  background-image: url("./sp_main.2b26eb67.png");
  background-size: 434px 416px;
  background-position: -24px -359px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#textbox {
  width: 100%;
  height: 58px;
  padding: 17px 0;
  background: transparent;
  outline: 0;
  top: 70px;
  left: 50%;
  border: none;
}
#textbox input[type="placeholder"] {
  font-size: 24px;
}

#bottom_lnb ul {
  width: 708px;
  position: relative;
  margin: 72px auto 0;
  
}
#bottom_lnb > ul > li {
  display: inline-block;
  margin: 0 8px;

}
#header_lnb a {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  align-items: center;
}
#header_lnb i {
  font-size: 25px;
  width: 45px;
  height: 47px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  color: #03C75A;
  box-shadow: 0 0 8px #eeeeee;
  
}
#header_lnb li > a > p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 100;
}

/* contents */
contents {
  display: block;
  width: 1440px;
  margin: 0 auto;
  padding: 40px;
}
#contents {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  justify-content: center;
  padding: 0 40px;
}

/* leftside */
#leftside {
  display: block;
  width: 830px;
  position: absolute;
  float: left;
}
#ad > img {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin-bottom: 20px;
}
#news {
  width: 100%;
  padding: 20px;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
#news_top {
  display: flex;
  color: #727272;
  font-size: 16px;
  overflow: hidden;
}
#newsmenu {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
#news_top > #newsmenu > a {
  margin-right: 15px;
}
#news_top > #newsmenu > a:first-child {
  font-weight: 600;
  color: #383838;
}
#news_top > #newsmenu > a:first-child::after {
  content: "";
}
#news_top > #newsmenu > a:nth-child(2)::after, a:nth-child(3)::after, a:nth-child(4)::after {
  content: "";
  border-right: 1px solid #a7a7a7;
  padding: 0 15px 0 0;
  align-items: center;
}

#news_top a:last-child img {
  width: 80%;
  float: right;
}
#news_headline {
  display: flex;
  width: 100%;
  height: 40px;
  background: #f0f0f0;
  margin: 15px 0 ;
  border-radius: 8px;
  font-size: 12px;
  align-items: center;
  padding: 1PX 0 0;
}
#headline_left {
  background: transparent;
  margin-left: 5px;
}
#headline_left > select {
  background: transparent;
  border: none;
  padding: 5px;
}
#headline_right {
  position: absolute;
  right: 30px;
}
#headline_right a {
  margin-right: 5px;
  border-left: 1px solid #a7a7a7;
  padding-left: 10px;
}
#headline_right a:first-child {
  border: none;
}

#news_table {
  display: block;
  overflow: hidden;
}
#news_table ul {
  display: flex;

  text-align: center;
}
#news_table li {
  display: flex;
  width: 16.66%;
  height: 56px;
  border: 1px solid #dddddd;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

#news_table a > img {
  display: block;
  height: 25px;
}

#news_bottom {
  justify-content: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid #a7a7a7;
}
#news_bottom p {
  font-size: 12px;
  padding: 15px 0 5px;
}
#news_bottom p::before {
  width: 36px;
  height: 36px;
  border: 1px solid #a7a7a7;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
#news_bottom p::after {
  width: 36px;
  height: 36px;
  border: 1px solid #a7a7a7;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

/* right side*/
#rightside {
  display: block;
  width: 420px;
  position: relative;
  float: right;
}
#login {
  border: 1px solid #e7e7e7;
  width: 420px;
  height: 164px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 20px;
}
#login > span:first-child {
  font-size: 14px;
}
#login_button {
  display: inline-flex;
  width: 380px;
  height: 56px;
  margin: 0 auto;
  background: #03C75A;
  color: #fff;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  padding: 17px 0;
}
#login_button::before {
  content: "";
  display: block;
  margin: 6px 8px 6px 8px;
  background-image: url("./sp_main.2b26eb67.png");
  background-size: 434px 416px;
  background-position: -120px -166px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  position: relative;

} 

#span_button button {
  background: none;
  border: none;
  margin: 16px 5px 0;
  color: #727272;
}
#span_button button:nth-child(2) {
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
  padding: 0 15px;
}
#side_ad img {
  margin-bottom: 16px;
  width: 420px;
  height: 240px;
  border-radius: 7px;
  margin-top: 20px;
}
