/* reset css */
@import url("./resetcss.css");

/* font css */
@font-face {
  font-family: naver_gothic;
  src: url("./font/나눔바른고딕/NanumBarunGothic.otf");
}
@font-face {
  font-family: naver_square;
  src: url("./font/나눔스퀘어/NanumSquareR.otf");
}
@font-face {
  font-family: naver_bold;
  src: url("./font/나눔스퀘어/NanumSquareEB.otf");
}
#wrap {
  min-width: 1280px;
}
/* header */
header {
  width: 1280px;
  display: block;
  margin: 0 auto;
  position: relative;
  font-family: naver_gothic;
}
.blind {
  font-size: 0;
}
#header_gnb {
  /* justify-content: space-between; */
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
#header_gnb button {
  margin: 10px;
}
#topasidebton_left {
  display: flex;
  align-items: center;
  float: left;
  gap: 20px;
  background: none;
  border: none;
  /* border: 1px solid red; */
}
#all_menu::after {
  content: "";
  display: block;
  background-image: url(./sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: 0px -333px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#naver_pay::after {
  content: "";
  display: block;
  background-image: url(./sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: -295px -177px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

#topasidebton_right {
  display: flex;
  align-items: center;
  float: right;
  gap: 20px;
  background: none;
  border: none;
}
#naver_talk::after {
  content: "";
  display: block;
  background-image: url(./sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: -108px -333px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#naver_notify::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b26eb67.png);
  background-size: 434px 416px;
  background-position: -54px -333px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#search_bar {
  border-radius: 33px;
  position: absolute;
  top: 70px;
  left: 50%;
  z-index: 10;
  width: 60%;
  height: 58px;
  display: flex;
  border: 1px solid #03C75A;
  transform: translateX(-50%);
}
#naver_logo {
  position: relative;
  display: block;
  margin: 9px 15px;
}
#naver_logo::after {
  content: "";
  display: block;
  margin: 6px 8px 6px 8px;
  background-image: url("./sp_main.2b26eb67.png");
  background-size: 434px 416px;
  background-position: -24px -359px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
#textbox {
  width: 100%;
  height: 58px;
  padding: 17px 0;
  background: transparent;
  outline: 0;
  top: 70px;
  left: 50%;
  border: none;
}

#header_lnb {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  text-align: center;
  position: relative;
  margin-top: 100px;
}
#header_lnb > a > i + p {
  text-align: center;
}
#header_lnb > a {
  display: inline-block;
}
#header_lnb i {
  font-size: 25px;
  width: 40px;
  height: 42px;
  display: block
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  color: #03C75A;
  box-shadow: 0 0 8px #eeeeee;
  
}
#header_lnb > a > p {
  margin-top: 5px;
  font-size: 12px;
}

/* contents */
contents {
  display: block;
  width: 100%;
  margin-top: 80px;
  padding: 0 20px;
  position: relative;
}
#leftside {
  width: 60%;
  position: absolute;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
#ad > img {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}
#news {
  width: 100%;
  padding: 15px;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
#news_top {
  display: flex;
  color: #727272;
  font-size: 13px;
  overflow: hidden;
}
#newsmenu {
  display: flex;
  width: 100%;
}
#news_top > #newsmenu > a {
  margin-right: 11px;
}
#news_top > #newsmenu > a:first-child {
  font-weight: bold;
  color: #383838;
}
#news_top a:last-child img {
  width: 80%;
  float: right;
}
#news_headline {
  display: flex;
  width: 100%;
  height: 40px;
  background: #f0f0f0;
  margin: 15px 0;
  border-radius: 8px;
  font-size: 12px;
  align-items: center;
}
#headline_left {
  background: transparent;
  margin-left: 5px;
}
#headline_left > select {
  background: transparent;
  border: none;
  padding: 5px;
}
#headline_right {
  position: absolute;
  right: 30px;
}
#headline_right a {
  margin-right: 5px;
  border-left: 1px solid #a7a7a7;
  padding-left: 10px;
}
#headline_right a:first-child {
  border: none;
}

#news_table {
  display: flex;
  overflow: hidden;
}
#news_table ul {
  text-align: center;
}
#news_table li {
  width: 127px;
  height: 50px;
  border: 1px solid #dddddd;
  overflow: hidden;
}
#news_table img {
  padding: 10px;
  width: 70%;
  justify-content: center;
  align-items: center;
}

#news_bottom {
  justify-content: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid #a7a7a7;
}
#news_bottom p {
  font-size: 12px;
  padding: 15px 0 5px;
}

#rightside  {

}
