/*=== var ===*/
/*=== reset ===*/
@import url("https://fonts.cdnfonts.com/css/roslindale?styles=147507,147527,147520,147523,147502,147510,147536,147549");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=== font ===*/
/* SUIT */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  color: #ededed;
}
* h1 {
  font: normal 5rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h2 {
  font: normal 4rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h3 {
  font: normal 3rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h4 {
  font: normal 1.5rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h5 {
  font-family: "SUIT-Regular";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #070b16;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background: #070b16;
  opacity: 0.9;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-blend-mode: multiply;
  z-index: 1;
}
.header #header {
  opacity: 1;
  width: 80%;
  height: 75px;
}
.header #header .header_ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  color: #ededed;
}
.header #header .header_ul li {
  font: 300 25px/1 "roslindale";
}
.header #header .header_ul .header_gnb a {
  margin-left: 20px;
}
.header #header .header_ul .header_toggle {
  display: none;
}
.header #header .header_ul .header_gnb_mo {
  display: none;
}

.footer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  left: 0%;
  bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #ff4d00;
  animation: rotateText 10s linear infinite;
  letter-spacing: 1px;
}
.footer .text .logo {
  position: absolute;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.5;
}
.footer .text span {
  position: absolute;
  left: 50%;
  font-size: 1rem;
  transform-origin: 0 75px;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

article {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 150px;
}
article h1 {
  font-size: 4rem;
  text-align: left;
  margin-bottom: 30px;
}
article .sub_title h4 {
  margin-top: 20px;
  opacity: 0.7;
  font-size: 2em;
}
article .sub_title p {
  width: 60%;
  margin-top: 10px;
}

.careers {
  width: 80%;
  height: auto;
  background: transparent;
  margin: 0px auto;
  margin-top: 20px;
  position: relative;
  overflow-y: hidden;
}
.careers .graphic {
  width: 100%;
  height: 700px;
  background: transparent;
  overflow: hidden;
  position: relative;
}
.careers .graphic .ellipse {
  display: none;
  transition: opacity 0.5s;
  width: 300px;
  height: 90%;
  transform: rotate(30deg);
  border: 5px solid transparent;
  border-radius: 100%;
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: absolute;
  right: 10%;
}
.careers .graphic .ellipse.show {
  display: block;
  opacity: 1;
}
.careers .graphic .gradient1 {
  background-image: linear-gradient(#070b16, #070b16), linear-gradient(30deg, #070b16 70%, #353535 80%, #ff4d00 90%);
}
.careers .graphic .gradient2 {
  background-image: linear-gradient(#070b16, #070b16), linear-gradient(40deg, #070b16 70%, #353535 80%, #ff4d00 85%);
}
.careers .graphic .gradient3 {
  background-image: linear-gradient(#070b16, #070b16), linear-gradient(50deg, #070b16 70%, #353535 75%, #ff4d00 80%);
}
.careers .graphic .gradient4 {
  background-image: linear-gradient(#070b16, #070b16), linear-gradient(60deg, #070b16 65%, #353535 70%, #ff4d00 80%);
}
.careers .graphic .gradient5 {
  background-image: linear-gradient(#070b16, #070b16), linear-gradient(70deg, #070b16 65%, #353535 73%, #ff4d00 85%);
}
.careers .career {
  width: 50%;
  height: auto;
  z-index: 10;
  position: absolute;
  top: 15%;
  right: 20%;
  overflow: hidden;
}
.careers .career .company {
  display: none;
  transition: opacity 0.5s;
  margin-bottom: 50px;
  overflow: hidden;
}
.careers .career .company.show {
  display: block;
  opacity: 1;
  animation-fill-mode: both;
}
.careers .career .company div {
  text-align: right;
}
.careers .career .company div span {
  opacity: 0.6;
  letter-spacing: 0.5px;
}
.careers .career .company div h3 {
  white-space: nowrap;
  padding: 7px 0 15px;
}
.careers .career .company div h4 {
  text-align: left;
  white-space: nowrap;
  padding-bottom: 8px;
  color: rgb(186, 170, 223);
}
.careers .career .company div p {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  article .sub_title p {
    width: 100%;
  }
  .careers {
    margin-top: 50px;
    overflow-y: hidden;
  }
  .careers .graphic .ellipse {
    width: 250px;
    height: 70%;
    right: 10%;
  }
  .careers .career {
    width: 60%;
    right: 30%;
  }
  .careers .career .company div h4 {
    white-space: wrap;
  }
}
@media screen and (max-width: 768px) {
  .careers .graphic .ellipse {
    width: 250px;
    right: 14%;
  }
  .careers .career {
    width: 80%;
    left: 0;
    height: auto;
  }
}/*# sourceMappingURL=about.css.map */