@import "common";

.wrap {
  width: 100%;
  height: 100%;
  background: url("./img/about-bg.png") center/cover no-repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header {
  @include header();
}
.header_toggle {
  display: none;
}
.header_gnb_mo {
  display: none;
}
.footer {
  @include footer();
}

//article
article {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 150px;
  // border: 1px solid red;
  h1 {
    color: $accent;
    font-size: 4rem;
    text-align: left;
    margin-bottom: 30px;
  }
  .sub_title {
    h4 {
      margin-top: 40px;
      font-size: 2em;
    }
    p {
      width: 60%;
      opacity: 0.7;
      margin-top: 10px;
    }
  }
}

//careers
.careers {
  width: 100%;
  height: auto;
  background: transparent;
  margin-top: 20px;
  position: relative;
  overflow-y: hidden;
  // border: 1px solid red;
  .graphic {
    width: 350px;
    height: 700px;
    background: transparent;
    // border: 1px solid red;
    position: absolute;
    right: 9%;
    .ellipse {
      display: none;
      transition: opacity 0.5s;
      width: 300px;
      height: 90%;
      transform: rotate(30deg);
      border: 5px solid transparent;
      border-radius: 100%;
      background-origin: border-box;
      background-clip: content-box, border-box;
      &.show {
        display: block;
        opacity: 1;
      }
    }
    .gradient1 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(30deg, #070b16 70%, #353535 80%, #ff4d00 90%);
    }
    .gradient2 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(40deg, #070b16 70%, #353535 80%, #ff4d00 85%);
    }
    .gradient3 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(50deg, #070b16 70%, #353535 75%, #ff4d00 80%);
    }
    .gradient4 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(60deg, #070b16 65%, #353535 70%, #ff4d00 80%);
    }
    .gradient5 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(70deg, #070b16 65%, #353535 73%, #ff4d00 85%);
    }
  }
  .career {
    width: 80%;
    height: 450px;
    z-index: 10;
    position: relative;
    padding-left: 40%;
    margin: 0px auto;
    // border: 1px solid red;
    .company {
      width: 90%;
      // border: 1px solid red;
      display: none;
      transition: opacity 0.5s;
      margin-top: 100px;
      overflow: hidden;
      &.show {
        display: block;
        opacity: 1;
        animation-fill-mode: both;
      }
      div {
        text-align: right;
        span {
          opacity: 0.6;
          letter-spacing: 0.5px;
        }
        h3 {
          white-space: nowrap;
          padding: 7px 0 15px;
        }
        h4 {
          text-align: left;
          white-space: nowrap;
          padding-bottom: 8px;
          color: rgb(186, 170, 223);
        }
        p {
          text-align: left;
        }
      }
    }
    &:hover {
      cursor: url("./img/move.png"), auto;
    }
  }
}

// tablet
@media screen and (max-width: 1200px) {
  //article
  article {
    .sub_title {
      p {
        width: 100%;
      }
    }
  }
  //careers
  .careers {
    margin-top: 50px;
    overflow-y: hidden;
    .graphic {
      right: 0%;
      .ellipse {
        width: 250px;
        height: 70%;
      }
    }
    .career {
      width: 100%;
      padding-left: 30%;
      .company {
        width: 75%;
        margin-top: 70px;
        div {
          h4 {
            white-space: wrap;
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 768px) {
  .header {
    #header {
      width: 85%;
    }
    .header_gnb {
      display: none;
    }
    .header_toggle {
      display: block !important;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      background: transparent;
      border: none;
      justify-content: space-between;
      cursor: pointer;
      span {
        display: block;
        width: 25px;
        height: 2px;
        background: $primary;
      }
      span:nth-child(2) {
        margin: 8px 0;
      }
    }
    .header_gnb_mo {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      flex-direction: column;
      width: 40%;
      background: #ededed;
      padding: 70px 0 600px;
      a {
        color: #242424;
        padding: 20px;
        display: block;
        font-weight: bold;
      }
    }
  }

  .careers {
    .graphic {
      right: 0;
      .ellipse {
        width: 250px;
      }
    }
    .career {
      width: 100%;
      padding-left: 10%;
      height: auto;
      .company {
        width: 75%;
      }
    }
  }
}
