@import "common";

.wrap {
  width: 100%;
  height: 100%;
  background: $background;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  @include header;
}
.footer {
  @include footer;
}

//article
article {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 150px;
  // border: 1px solid red;
  h1 {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 30px;
  }
  .sub_title {
    h4 {
      margin-top: 20px;
      opacity: 0.7;
      font-size: 2em;
    }
    p {
      width: 60%;
      margin-top: 10px;
    }
  }
}

//careers
.careers {
  width: 80%;
  height: auto;
  background: transparent;
  margin: 0px auto;
  margin-top: 20px;
  position: relative;
  overflow-y: hidden;
  .graphic {
    width: 100%;
    height: 700px;
    background: transparent;
    overflow: hidden;
    // border: 1px solid red;
    position: relative;
    .ellipse {
      display: none;
      transition: opacity 0.5s;
      width: 300px;
      height: 90%;
      transform: rotate(30deg);
      border: 5px solid transparent;
      border-radius: 100%;
      background-origin: border-box;
      background-clip: content-box, border-box;
      position: absolute;
      right: 10%;
      &.show {
        display: block;
        opacity: 1;
      }
    }
    .gradient1 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(30deg, #070b16 70%, #353535 80%, #ff4d00 90%);
    }
    .gradient2 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(40deg, #070b16 70%, #353535 80%, #ff4d00 85%);
    }
    .gradient3 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(50deg, #070b16 70%, #353535 75%, #ff4d00 80%);
    }
    .gradient4 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(60deg, #070b16 65%, #353535 70%, #ff4d00 80%);
    }
    .gradient5 {
      background-image: linear-gradient(#070b16, #070b16),
        linear-gradient(70deg, #070b16 65%, #353535 73%, #ff4d00 85%);
    }
  }
  .career {
    width: 50%;
    height: auto;
    // border: 1px solid red;
    z-index: 10;
    position: absolute;
    top: 15%;
    right: 20%;
    overflow: hidden;
    .company {
      display: none;
      transition: opacity 0.5s;
      margin-bottom: 50px;
      overflow: hidden;
      &.show {
        display: block;
        opacity: 1;
        animation-fill-mode: both;
      }
      div {
        text-align: right;
        span {
          opacity: 0.6;
          letter-spacing: 0.5px;
        }
        h3 {
          white-space: nowrap;
          padding: 7px 0 15px;
        }
        h4 {
          text-align: left;
          white-space: nowrap;
          padding-bottom: 8px;
          color: rgb(186, 170, 223);
        }
        p {
          text-align: left;
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 1200px) {
  //article
  article {
    .sub_title {
      p {
        width: 100%;
      }
    }
  }
  //careers
  .careers {
    margin-top: 50px;
    overflow-y: hidden;
    .graphic {
      .ellipse {
        width: 250px;
        height: 70%;
        right: 10%;
      }
    }
    .career {
      width: 60%;
      right: 30%;
      .company {
        div {
          h4 {
            white-space: wrap;
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 768px) {
  .careers {
    .graphic {
      .ellipse {
        width: 250px;
        right: 14%;
      }
    }
    .career {
      width: 80%;
      left: 0;
      height: auto;
    }
  }
}
