@import url("https://fonts.cdnfonts.com/css/roslindale?styles=147507,147527,147520,147523,147502,147510,147536,147549");
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*=== var ===*/
/*=== reset ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=== font ===*/
/* SUIT */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  color: #ededed;
}
* h1 {
  font: normal 5rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h2 {
  font: normal 4rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h3 {
  font: normal 3rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h4 {
  font: normal 1.5rem/1 "Roslindale";
  letter-spacing: 2px;
}
* h5 {
  font: lighter 1rem/1 "SUIT-Regular";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#custom-cursor {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  cursor: auto;
}
#custom-cursor img {
  width: 300px;
  height: auto;
  transform-origin: top left;
}

.cursor-shadow {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.wrap {
  width: 100%;
  height: 100%;
  background: #070b16;
  overflow: hidden;
}

.header {
  width: 100%;
  background: #070b16;
  opacity: 0.9;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-blend-mode: multiply;
  z-index: 1;
  font: 300 25px/1 "roslindale";
}
.header #header {
  opacity: 1;
  width: 80%;
  height: 75px;
}
.header #header .header_ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  color: #ededed;
}
.header #header .header_ul .header_gnb a {
  margin-left: 20px;
}

.header_toggle {
  display: none;
}

.header_gnb_mo {
  display: none;
}

.main {
  width: 100%;
  height: 75vh;
  background: #070b16;
  position: relative;
  overflow: hidden;
}
.main #main_img {
  width: 100%;
  height: 100%;
}
.main #main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  opacity: 0.7;
}
.main #main_text {
  position: absolute;
  width: 1280px;
  margin: 0 auto;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 40%);
}
.main #main_text h1 {
  text-align: center;
  color: #ff4d00;
  font: 200 10em/1 "roslindale";
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 80%;
  display: grid;
  grid-template-columns: 17% 1fr 17%;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas: "number center toggle" "number center toggle" ". preview preview";
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;
  gap: 2%;
  border-top: 1px solid #ededed;
}
.section:last-child {
  border-bottom: 1px solid #ededed;
  margin-bottom: 50px;
}
.section .number {
  min-width: 125px;
  display: flex;
  align-items: baseline;
  grid-area: number;
  margin-right: 20px;
}
.section .number div {
  width: 30px;
  height: 2px;
  background: #ededed;
  padding-left: 5px;
}
.section .center {
  grid-area: center;
  text-align: right;
  margin-right: 20px;
}
.section .toggle {
  grid-area: toggle;
  width: 70px;
  height: 70px;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section .toggle div {
  position: absolute;
  width: 50px;
  height: 1px;
  background: #ededed;
}
.section .toggle div:first-child {
  transform: rotate(90deg);
}
.section .preview {
  grid-area: preview;
  margin-top: 20px;
  display: none;
}

.about .preview {
  width: 100%;
  max-height: 400px;
  text-overflow: ellipsis;
}
.about .preview h3 {
  opacity: 0.85;
}
.about .preview #article {
  opacity: 0.7;
  margin-top: 10px;
  color: #ededed;
}
.about .preview #go-about {
  width: 140px;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #ededed;
  border-radius: 50px;
  opacity: 0.6;
  margin: 30px 0 10px;
}
.about .preview #go-about:hover {
  background: transparent;
  opacity: 1;
  border: 1px solid #ff4d00;
  color: #ff4d00;
  font-weight: bold;
}

.work .preview {
  color: #ededed;
  font: 300 3em/1 "roslindale";
  letter-spacing: 2px;
  margin-right: 15%;
}
.work .preview ul li {
  padding: 40px 20px;
  background-position: center;
  opacity: 0.5;
  border-bottom: 1px dashed #ededed;
}
.work .preview ul li:hover {
  color: #ff4d00;
  opacity: 1;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.work .preview ul li a {
  pointer-events: none;
}
.work .preview ul .list-divider {
  font-size: 2rem;
  padding: 20px;
  background: #242424;
  text-align: right;
  border: none;
}
.work .preview ul .list-divider:hover {
  color: #ededed;
  opacity: 0.5;
  border: none;
}
.work .preview ul .list-divider:first-child li {
  margin-top: 20px;
}
.work .preview ul .list-divider #w_Web {
  border-bottom: 2px solid #ededed;
}
.work .preview ul #w_Media {
  border-bottom: none;
}
.work .preview ul #w_Media:hover {
  border-bottom: 1px solid #ededed;
}
.work .preview ul #w_Web {
  border: none;
}
.work .preview ul #w_Web:hover {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.contact .preview {
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(0%, 0%);
  background: transparent;
  text-align: center;
  margin-top: 50px;
}
.contact .preview #contact_to_me {
  width: 150px;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #ededed;
  border-radius: 50px;
  opacity: 0.6;
}
.contact .preview #contact_to_me:hover {
  background: transparent;
  opacity: 1;
  border: 1px solid #ff4d00;
  color: #ff4d00;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 80px;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.footer .footer {
  height: 100%;
  background: url("./img/1x/circle.png") center/cover no-repeat;
}
.footer .footer #footer .logo {
  width: 100%;
  height: 80%;
}
.footer .footer #footer .logo a {
  text-align: center;
  background: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  #main_text {
    width: 780px;
  }
  #main_text h1 {
    font-size: 7em;
  }
  .section {
    width: 80%;
  }
  .section .number {
    min-width: 130px;
  }
  .section .center {
    min-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .header #header {
    width: 85%;
  }
  .header .header_gnb {
    display: none;
  }
  .header .header_toggle {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    justify-content: space-between;
    cursor: pointer;
  }
  .header .header_toggle span {
    display: block;
    width: 25px;
    height: 2px;
    background: #ededed;
  }
  .header .header_toggle span:nth-child(2) {
    margin: 8px 0;
  }
  .header .header_gnb_mo {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 40%;
    background: #ededed;
    padding: 70px 0 600px;
  }
  .header .header_gnb_mo a {
    color: #242424;
    padding: 20px;
    display: block;
    font-weight: bold;
  }
  .main #main_text {
    padding: 20px;
    width: 100%;
  }
  .main #main_text h1 {
    font-size: 6em;
    white-space: wrap;
    text-align: right;
  }
  .category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  .category #content {
    width: 100%;
    max-width: 780px;
    position: relative;
  }
  .section {
    width: 100%;
    padding: 30px 0;
    grid-template-areas: "number center toggle" "number center toggle" "preview preview preview";
  }
  .section .number {
    padding-left: 15%;
    min-width: 110px;
  }
  .section .number h1 {
    font-size: 4rem;
  }
  .section .center {
    min-width: 275px;
    margin: auto 10px;
  }
  .section .center h1 {
    line-height: 0.8;
    margin-bottom: 5px;
    font-size: 4em;
  }
  .section .toggle {
    min-width: 70px;
    padding-right: 15%;
  }
  .about .preview {
    padding: 0 5%;
  }
  .work .preview {
    font: 300 3em/1 "roslindale";
    margin-right: 0;
  }
  .work .preview ul li {
    padding: 20px 20px;
    background-position: center;
    border-top: 1px solid #ededed;
    opacity: 0.5;
  }
  .work .preview ul li:hover {
    opacity: 1;
  }
  .work .preview ul .list-divider {
    border-top: 1px solid #ededed;
    font-size: 2.5rem;
    padding: 10px 40px;
    background: #242424;
    text-align: right;
  }
  .contact .preview {
    padding-left: 48%;
  }
}/*# sourceMappingURL=desktop.css.map */