@import url("./resetcss.css");

.parent {
  border: 5px solid #c9a44f;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  /* grid: 100px 300px / auto auto auto; */
  /* grid-template-columns: auto auto auto;
  grid-template-rows: 100px 300px; */
}
.parent div {
  border: 1px solid #fff;
  background: #d1c589;
  text-align: center;
  color: black;
  font-size: 30px;
}