$font-color: (
  primary: #222,
  secondary: #555,
);

$font-size: (
  base: 15px,
  large: 60px,
  medium: 45px,
  small: 20px,
);

$bg-color: (
  primary: #fff,
  secondary: #f8f8f8,
);

$btn-color: (
  pc: crimson,
  mobile: royalblue,
);

$font-family: (
  kor: "Noto Sans KR",
  sans-serif,
  eng: "Montserrat",
  sans-serif,
);
