@import url("./reset.css");

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap ul li {
  text-align: right;
}
.wrap ul li label {
  text-align: right;
  padding: 20px;
}
input[type="button"] {
  margin-top: 20px;
  padding: 5px 20px;
}