body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin border-style($width, $style, $color) {
  border: $width $style $color;
}

@mixin btn-padding($updown, $leftright) {
  padding: $updown $leftright;
}

.btns {
  button {
    background: #fff;
    padding: 7px;
    cursor: pointer;
    font-size: 18px;
    @include btn-padding(10px, 150px);
    &.approval {
      @include border-style(2px, solid, blue);
    }
    &.refuse {
      @include border-style(2px, solid, red);
    }
  }
}
