
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: slateblue;

  div:nth-child(1) {
    @extend .circle;
    left: -50%;
  }
  div:nth-child(2) {
    @extend .circle;
    top: -50%;
  }
}

body {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-beat {
  width: 200px;
  height: 200px;
  background: slateblue;
  transform: rotate(45deg);
  position: relative;
  animation: ani ease-in-out 0.5s infinite;

  div:nth-child(1) {
    @extend .circle;
    left: -50%;
  }
  div:nth-child(2) {
    @extend .circle;
    top: -50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 15px 15px 0.8em slateblue;
  }
}

@keyframes ani {
  0% {
    scale: 0.9;
  }
  80% {
    scale: 1;
  }
  100% {
    scale: 0.9;
  }
}
