@import url("./reset.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  margin: 20px;
}
#container {
  border: 1px solid #ccc;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  font-size: 2rem;
  background: #ddd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  opacity: 0.2;
  transition: opacity 0.3s;
  z-index: 100;
}
.arrow:hover {
  opacity: 1;
}